<div class="product-card">
    <h3>
        <%= product.product_name %>
    </h3>
    <p>Main Features: <%= product.main_features %>
    </p>
    <p>Unique Selling Points: <%= product.unique_selling_points %>
    </p>
    <p>Pricing Model: <%= product.pricing_model %>
    </p>
    <p>Distribution Channels: <%= product.distribution_channels %>
    </p>
</div>