<div class="template-card">
    <h3>
        <%= template.template_name %>
    </h3>
    <p>Main Features: <%= template.main_features %>
    </p>
    <p>Unique Selling Points: <%= template.unique_selling_points %>
    </p>
    <p>Pricing Model: <%= template.pricing_model %>
    </p>
    <p>Distribution Channels: <%= template.distribution_channels %>
    </p>
</div>